header { 
  padding: 20px 35px;
  background-color: #b29e85;
  display: flex;
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #253338;
  margin: 0;
}
header a {
  text-decoration: none;
  color: #253338;
}
header nav {
  display: flex;
  float: right;
  margin: 7px 0;
  list-style-type: none;
}
header nav ul li {
  display: inline;
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}
body {
  background-color: #253338;
}
.title {
  font-size: xx-large;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  border: 4px solid #b29e85;
  border-radius: 20px;
  color:#42403c;
  background-color: #b29e85;
  width:50%;
  text-align: center;
}
.fullname {
  padding-top: 10px;
}